.dashboardContainr {
    position: relative;
    width: 100%;
    height: 100vh; /* To'liq ekran bo'ylab cho'zilgan */
    overflow: hidden;
    background: url("../imgVideos/backimage.JPEG") no-repeat center center;
    background-size: cover; /* Rasm to'liq ekran bo'ylab moslashadi */
}

/* Saytning to'la xolati bilan ishlash */
body {
    margin: 0;
    padding: 0;
    color: white;
}

/* Saytnining ichki holati bilan ishlash */
.main-text-part {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.main-site-part-of-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%; /* Links qismi ekran kengligini to'liq egallaydi */
    max-width: 1200px; /* Maksimal kenglikni o'rnatish */
    margin-top: 150px;
}

.messanger-link {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center; /* Textni markazga joylashtirish */
    align-items: center; /* Icon va textni vertikal markazlash */
}

.in-button-part {
    background: #ebf1ec;
    color: #f3740c;
    border-radius: 5px;
    padding: 5px;
    width: 90%; /* Button kengligi har doim container kengligini egallaydi */
    display: flex;
    justify-content: center;
    box-sizing: border-box; /* Padding va border kenglikka kiradi */
}

.in-button-part:active {
    background: #d5f6f2;
    padding: 5px;
}

.messangers-link-part {
    flex: 1;
    margin-top: 15px;
    margin-right: 10px;
}

.link-icons,
.link-text {
    display: inline;
    font-size: 25px;
}

.link-text {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.messanger-icon {
    margin-right: 30px;
}

/* Iconlar bilan ishlash */
.telegram-icon {
    color: #00b2ff;
    max-width: 400px;
}

.instagram-icon {
    color: #f305ef;
}

.facebook-icon {
    color: #0048ff;
}

/* text part */
.sindicate-text-part {
    display: block;
    margin-top: -80px;
    margin-bottom: 110px;
    font-family: "Arial", Courier, monospace;
    text-transform: uppercase;
}

/* phone numbers part */
.phone-numbers-part {
    margin-top: 80px;
    padding: 10px;
}

.phone-numbers {
    margin-top: 40px;
    background-color: #eaf1ea;
    border-radius: 5px;
    padding: 10px;
    color: rgba(255, 144, 34, 0.97);
}

@media (max-width: 768px) {

    .main-site-part-of-links {
        flex-direction: column;
        align-items: center;
    }

    .messangers-link-part {
        width: 70%; /* Har bir link qismi to'liq kenglikni egallaydi */
        margin: 10px 0;
    }

    .in-button-part {
        display: flex;
        justify-content: center;
        font-family: "Arial", Courier, monospace;
    }

    .sindicate-text-part {
        margin-top: -50px; /* Kichik ekranlarda yuqoriga yaqinlashtirish */
        margin-bottom: 50px;
    }

    .phone-numbers {
        margin-top: 20px;
        font-size: 16px;
    }
}
